@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

@font-face {
  font-family: Shabnam;
  src: url("/font/Shabnam.woff") format("woff"),
    url("/font/Shabnam.woff2") format("woff2"),
    url("/font/Shabnam.eot") format("eot");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("/font/Shabnam-Bold.woff") format("woff"),
    url("/font/Shabnam-Bold.woff2") format("woff2"),
    url("/font/Shabnam-Bold.eot") format("eot");
  font-weight: bold;
}

/* || RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* colors */
  --PRIMARY-COLOR: rgb(70, 159, 243);
  --BODY-BG-COLOR: #182d4b;
  --MAIN-FONT-COLOR: #fff;

  /* fonts */
  --FONT-FAMILY: shabnam;
}

/* || GENERAL STYLES */

body {
  color: var(--MAIN-FONT-COLOR);
  direction: rtl;
  background-color: var(--BODY-BG-COLOR);
  font-family: var(--FONT-FAMILY);
  overflow-x: hidden;
}

div {
  border: none;
  outline: none;
}

/* || TOPNAV */

.topNav {
  background-color: var(--PRIMARY-COLOR);
  height: 30px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.address_phone {
  margin-right: 5%;
  padding: 6px;
}

.topNav a:any-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.topNav :is(a:hover, a:focus) {
  color: #000;
  transition: all 0.5s ease;
}

.topNav .socialMedia {
  width: 15%;
  padding: 6px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  gap: 35px;
}

/* || HEADER */

header {
  display: flex;
  padding: 2rem;
  margin-bottom: 0;
}

/* Brand */

.brand {
  position: relative;
  top: -40px;
  left: -10%;
  text-decoration: none;
}

.brand h1 {
  font-size: 22px;
  color: var(--PRIMARY-COLOR);
  position: relative;
  margin-top: -23px;
  left: -16%;
  font-family: "Source Serif Pro", serif;
}

.brand h1 span {
  color: #fff;
}

/* Nav Menu  */

.navMenu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.navMenu a:any-link {
  color: var(--MAIN-FONT-COLOR);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5%;
  height: 40px;
  padding: 10px;
  border-radius: 14px;
  transition: all 0.4s ease;
}

.navMenu a:any-link i span {
  font-family: var(--FONT-FAMILY);
}

.navMenu :is(a:hover, a:focus) {
  background-color: var(--PRIMARY-COLOR);
  color: var(--MAIN-FONT-COLOR);
  transition: all 0.5s ease;
}

/* search box */

.searchBox {
  width: 27%;
  direction: rtl;
  margin-right: 20px;
}

.searchBox input {
  width: 83%;
  height: 38px;
  outline: none;
  direction: rtl;
  text-indent: 15px;
  border-radius: 20px 0 0 20px;
  font-family: var(--FONT-FAMILY);
}

.searchIcon {
  position: relative;
  top: 2.99px;
  right: 9px;
  width: 37px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 38px;
  border-radius: 0 20px 20px 0;
  text-decoration: none;
  background-color: var(--PRIMARY-COLOR);
}

.searchIcon :hover {
  color: var(--SECONDARY-COLOR);
}

.fa-search {
  color: var(--MAIN-FONT-COLOR);
}

/* Profile */
.profile a:any-link {
  color: var(--MAIN-FONT-COLOR);
  font-size: 27px;
  position: relative;
  top: 9.5px;
}

.profile :is(a:hover, a:focus) {
  color: var(--PRIMARY-COLOR);
}

/* Hiding the menu icon */
.menu__button {
  display: none;
}

/* || MAIN */

/* || CAROUSEL */

.carousel {
  position: relative;
  margin-top: -50px;
  height: 400px;
  width: 100%;
}

.carousel__track-container {
  position: relative;
  background: steelblue;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform ease-in 250ms;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* Carousel nav */

.carousel__nav {
  position: relative;
  direction: ltr;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 0;
  top: -25px;
}

.carousel__indicator {
  width: 30px;
  height: 4px;
  border: 0;
  border-radius: 13%;
  background: lightgray;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: aquamarine;
}

/* || CAROUSEL SLIDES */

/* Carousel images */

.carousel__img {
  width: 100vw;
  height: 100%;
}

.hide__img {
  display: none;
}

/* The Section of off prices */

.off__prices__section {
  background-color: rgb(168, 230, 206);
  height: 350px;
  position: absolute;
  top: 600px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
  transition: all ease 0.5s;
  overflow: hidden;
}

.specialOffer__img {
  width: 13vw;
  height: 55%;
  z-index: 1;
}

.off__prices__product {
  width: 15.6vw;
  height: 85%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 22px;
  padding: 10px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}

.off__prices__img {
  width: 220px;
  height: 200px;
}

.price__before__offer {
  color: gray;
  font-size: 16px;
  font-weight: 550;
  text-decoration: line-through 2px #000;
}

.offer__price {
  color: #d13737;
  font-size: 18px;
}

/* || BOXES FOR ADDVETISING CONTENT || */

.addBoxes {
  width: 1500px;
  height: 800px;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  position: absolute;
  top: 1050px;
  right: 15px;
}

.addBox {
  width: 735px;
  height: 250px;

  background-color: lawngreen;
}

.addBox2 {
  margin-top: -270px;
  width: 352.5px;
  height: 250px;

  background-color: lawngreen;
}

/* || POPULAR PRODUCTS || */
.popular__products__title {
  width: 100vw;
  position: absolute;
  top: 1636px;
  text-indent: 10px;
  font-size: 18px;
  background-color: #4b4a4a;
  padding: 12px;
  color: #fff;
  font-weight: bold;
}
.popular__products__section {
  background-color: #7eaaec;
  height: 400px;
  position: absolute;
  top: 1685px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px;
  transition: all ease 0.5s;
  overflow: hidden;
}

.popular__product {
  width: 18.25vw;
  height: 98%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #6b6969;
  color: #000;
  direction: rtl;
  text-decoration: none;
}

.popular__product__title {
  position: relative;
  top: 15px;
}

.guarantee__state {
  position: relative;
  top: 30px;
  font-size: 12px;
}

.fa-index-certificate {
  color: rgb(31, 139, 255);
  font-size: 17px;
  position: relative;
  top: 32px;
}

.fa-index-check {
  color: #fff;
  position: relative;
  font-size: 9px;
  top: 29px;
  right: -13px;
}

.guarantee__state {
  position: relative;
  right: -10px;
  color: #333;
}

.popular__product__rating {
  position: relative;
  top: 31px;
  right: 80px;
  color: rgb(103, 103, 103);
}

.fa-star {
  color: gold;
}

.popular__product__price {
  position: relative;
  top: 45px;
  right: 50px;
  font-size: 21px;
}

.popular__products__img {
  width: 235px;
  height: 215px;
  z-index: 2;
  border-radius: 20px;
}

/* Guarantee and express delivery and some more icons */

.shopIcons {
  position: absolute;
  top: 2175px;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.shopIcons img {
  width: 80px;
  height: 80px;
}

.shopIcons figure {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7px;
}

/* || FOOTER || */

#indexFooter {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 2400px;
  width: 100vw;
  background-color: rgb(58, 114, 234);
  height: 460px;
  margin-bottom: none;
}

/* contact-us */

.contact-us {
  display: flex;
  flex-flow: column;
  width: 33%;
  gap: 35px;
  padding: 20px;
  text-indent: 8px;
}

#contactUs__name {
  width: 50%;
  height: 27px;
  position: relative;
  right: 15px;
  text-indent: 8px;
  border: none;
  outline: none;
}

#contactUs__email {
  width: 50%;
  height: 27px;
  position: relative;
  right: 95px;
  text-indent: 8px;
  border: none;
  outline: none;
}

#contactUs__message {
  width: 70%;
  height: 150px;
  position: relative;
  right: 72px;
  padding: 8px;
  border: none;
  outline: none;
}

#contactUs__message__label {
  position: relative;
  top: -129px;
}

.contactUs__buttons {
  display: flex;
  gap: 30px;
  position: relative;
  right: 148px;
}

#contactUs__submitButton {
  width: 60px;
  height: 35px;
  background-color: rgb(255, 85, 0);
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

#contactUs__resetButton {
  width: 60px;
  height: 35px;
  background-color: rgba(255, 85, 0);
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

#contactUs__submitButton:hover,
#contactUs__resetButton:hover {
  background-color: rgb(255, 183, 0);
  transition: all 0.5s ease;
}

/* Footer nav */

.footer__nav {
  width: 20%;
  padding: 20px;
  position: relative;
  right: 10px;
}

.footer__nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  gap: 40px;
  margin: 30px;
  position: relative;
  right: -32px;
}

.footer__nav li a:any-link {
  text-decoration: none;
  color: var(--MAIN-FONT-COLOR);
  font-weight: bold;
  transition: all 0.5s ease;
}

.footer__nav li a:hover {
  text-decoration: underline;
  color: var(--BODY-BG-COLOR);
  transition: all 0.5s ease;
}

/* Shop info section  */

.store__info {
  width: 25%;
}

.aboutUs {
  position: relative;
  right: 250px;
  top: 20px;
  width: 100px;
}

.footerBrand {
  width: 200px;
  height: 140px;
  position: relative;
  top: 15px;
  right: 45px;
}

.footer__H3 {
  position: relative;
  top: -20px;
  right: 105px;
}

.footer__H3 span {
  color: var(--BODY-BG-COLOR);
}

.footerSocialMedia {
  display: flex;
  gap: 20px;
  position: relative;
  top: 210px;
  right: 15px;
}

.footerSocialMedia a:any-link {
  color: #fff;
  background-color: var(--BODY-BG-COLOR);
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  text-decoration: none;
}

.namad {
  display: flex;
  position: relative;
  top: 80px;
  right: -230px;
}

.eNamad {
  width: 170px;
  height: 130px;
  position: relative;
  right: 195px;
  top: -10px;
}

.eNamad2 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -52px;
  right: 115px;
}

.eNamad3 {
  width: 90px;
  height: 90px;
  position: relative;
  right: 80px;
}

/* || Copy Right || */
.copyRight {
  width: 100vw;
  position: absolute;
  top: 2860px;
  height: 40px;
  font-size: 25px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding-top: 5px;
}

.copyRight span {
  font-size: 16px;
  position: relative;
}

/* || MEDIA QUERIES */

/* || Large */

@media screen and (max-width: 1400px) {
  /* carousel images */
  .main__carousel__img {
    display: none;
  }

  .dekstop__carousel__img {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  /* nav menu */
  .navMenu {
    position: absolute;
    top: 160px;
    left: 0;
    background-color: var(--PRIMARY-COLOR);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 0;
  }

  .navMenu a:any-link {
    transition: all 0.5s ease;
  }

  .navMenu :is(a:hover, a:focus) {
    color: var(--BODY-BG-COLOR);
    font-size: 1.25rem;
  }

  /* brand and logo */

  .brand {
    position: absolute;
    left: 2%;
    top: 17px;
  }

  /* search Box */
  .searchBox {
    position: absolute;
    right: 7vw;
    top: 55px;
    width: 50%;
  }

  /* profile icon */

  .profile {
    position: absolute;
    right: 5vw;
    top: 55px;
  }
  /* carousel div */
  .carousel {
    top: 250px;
  }

  /* off prices section */

  .off__prices__button {
    font-size: 1.5rem;
    color: #fff;
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

  .hide-button {
    display: none;
  }

  .off__prices__section {
    height: 300px;
    top: 710px;
  }

  .specialOffer__img {
    width: 185px;
    height: 185px;
    z-index: 1;
  }

  /*  .off__prices__product {
  } */

  .off__prices__img {
    width: 170px;
    height: 170px;
  }

  .price__before__offer {
    color: gray;
    font-size: 16px;
    font-weight: 550;
    text-decoration: line-through 2px #000;
  }
}

@media screen and (max-width: 1200px) {
  .carousel {
    height: 300px;
  }

  .dekstop__carousel__img {
    display: none;
  }

  .medium__carousel__img {
    display: block;
  }
}

/* || MEDIUM */

@media screen and (max-width: 768px) {
  /* top nav */

  .topNav {
    height: 25px;
  }

  .address_phone {
    font-size: 12px;
  }

  .address_phone a:any-link {
    font-size: 12px;
  }

  .topNav .socialMedia {
    font-size: 13px;
    gap: 18px;
  }

  /* HEADER */

  header {
    display: block;
  }

  /* menu button */

  .menu__button {
    display: block;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    position: absolute;
    top: 49px;
    border: none;
  }

  .menu__button :is(:hover, :focus) {
    color: var(--PRIMARY-COLOR);
    cursor: pointer;
  }

  /* profile icon */

  .profile {
    right: 11vw;
    margin: 0 1vw;
    top: 43px;
  }

  .fa-user {
    font-size: 1.5rem;
  }

  /* carousel */

  .carousel {
    margin-top: -175px;
    height: 265px;
  }

  /* nav menu */

  .hideNav {
    display: none;
  }

  .showNav {
    display: block;
  }

  .navMenu {
    height: 350px;
    background-color: var(--PRIMARY-COLOR);
    flex-direction: flex-start;
    gap: 0;
    padding: 0;
    z-index: 2;
  }

  .navMenu a:any-link {
    justify-content: center;
    margin: 0;
    border: 1px solid #000;
    border-radius: 0;
    padding: 33px;
    width: 100%;
    top: -1px;
  }

  .navMenu a:any-link:last-child {
    border-bottom: none;
  }

  .navMenu :is(a:hover, a:focus) {
    color: var(--MAIN-FONT-COLOR);
    background-color: #0084ff;
    font-size: 1.25rem;
    padding: 40px;
    transition: all 0.5s ease;
  }

  .navMenu .fa-home {
    position: relative;
    right: 4px;
  }

  .navMenu .fa-shopping-cart {
    position: relative;
    right: -5px;
  }

  .navMenu .fa-exclamation-circle {
    position: relative;
    right: -8px;
  }

  .navMenu .fa-message {
    position: relative;
    right: -1px;
  }

  .navMenu .fa-shopping-bag {
    position: relative;
    right: -4px;
  }

  /* searchBox */

  .searchBox {
    width: 55%;
    right: 14vw;
    top: 50px;
  }

  .searchBox input {
    height: 32px;
  }

  .searchIcon {
    top: 3px;
    height: 32px;
  }

  /* brand and logo */

  .brand {
    top: 23px;
  }

  .brand img {
    width: 120px;
    height: 80px;
  }

  .brand h1 {
    font-size: 18px;
  }

  /* carousel images */

  .medium__carousel__img {
    display: none;
  }

  .tablet__carousel__img {
    display: block;
  }
}

/* || SMALL */

@media screen and (max-width: 600px) {
  /* top nav */

  .socialMedia {
    position: relative;
    left: 1.25rem;
  }

  /* nav menu */

  .navMenu {
    top: 200px;
  }

  /* searchBox */
  .searchBox {
    width: 98%;
    top: 142px;
    right: 3vw;
    margin-right: 2rem;
  }

  .searchBox input {
    width: 82%;
  }

  /* carousel */
  .carousel {
    margin-top: -135px;
  }

  /* menu button  */

  .menu__button {
    top: 43px;
    right: 4vw;
    font-size: 2.25rem;
  }

  /* profile */

  .profile {
    margin-right: 1rem;
    top: 135px;
    right: 1vw;
  }

  /* brand and logo */

  .brand {
    position: absolute;
    top: 17px;
    right: 38vw;
  }

  .brand img {
    width: 150px;
    height: 100px;
  }

  .brand h1 {
    font-size: 1.6rem;
    left: -15px;
    margin-top: -25px;
  }

  /* carousel indicators */

  .carousel__nav {
    gap: 20px;
    top: -25px;
  }

  .carousel__indicator {
    width: 23px;
  }

  /* carousel images */

  .tablet__carousel__img {
    display: none;
  }

  .mobile__carousel__img {
    display: block;
  }
}

/* || VERY SMALL */

@media screen and (max-width: 500px) {
  /* header */

  .menu__button {
    font-size: 2.1rem;
    top: 42px;
    right: 4vw;
  }

  .brand {
    right: 39vw;
  }

  .brand img {
    width: 110px;
    height: 92px;
  }

  .brand h1 {
    font-size: 1.2rem;
    left: -12px;
  }

  .fa-user {
    font-size: 23px;
  }

  .searchBox {
    width: 90%;
    right: 2vw;
  }

  .searchBox input {
    width: 85%;
  }
}

@media screen and (max-width: 420px) {
  /* carousel images */
  .mobile__carousel__img {
    display: none;
  }

  .smallMobile__carousel__img {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .searchBox {
    width: 88%;
    right: 2vw;
  }

  .searchBox input {
    width: 80%;
    height: 30px;
  }

  .searchIcon {
    height: 30px;
  }

  .profile {
    margin-right: 1rem;
    top: 135px;
    right: 1vw;
  }

  .menu__button {
    font-size: 1.9rem;
    top: 43px;
  }

  .brand {
    position: absolute;
    top: 17px;
    right: 36vw;
  }

  .carousel {
    height: 230px;
  }
}
